modules = ["web", "nodejs-20", "python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 41238267
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python YogaPoseRecogniserWEB62/server.py"

[[ports]]
localPort = 81
externalPort = 80
